body {
    font-family: sans-serif;
}
form {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#btn {
    width: 35%;
    height: 15%;
    align-self: center;
    border: none;
    background: rgb(9, 173, 238);
    color: white;
    font-weight: bold;
}
#btn:hover {
    cursor: pointer;
    box-shadow: 0 0 3px #000;
}
input {
    width: 100%;
    height: 15%;
}
input:hover {
    background: rgba(135, 206, 235, 0.4);
    cursor: text;
}
input:focus {
    background: rgba(255, 255, 0.5);
    font-weight: bold;
    border: 3px solid rgba(135, 206, 235);;
    outline: none;
}
label {
    margin-bottom: -15%;
    font-weight: bold;
}
p {
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px dashed transparent;
}